# 15 Days of Learning SQL
[Problem Link on Hackerrank](https://www.hackerrank.com/challenges/15-days-of-learning-sql/problem)  
Julia conducted a 15 days of learning SQL contest. The start date of the contest was March 01, 2016 and the end date was March 15, 2016.
Write a query to print total number of unique hackers who made at least 1 submission each day (starting on the first day of the contest), and find the hacker\_id and name of the hacker who made maximum number of submissions each day. If more than one such hacker has a maximum number of submissions, print the lowest hacker\_id. The query should print this information for each day of the contest, sorted by the date.
Input Format
The following tables hold contest data:
Hackers: The hacker\_id is the id of the hacker, and name is the name of the hacker.

| Column | Type |
| --- | --- |
| hacker\_id | Integer |
| name | String |

Submissions: The submission\_date is the date of the submission, submission\_id is the id of the submission, hacker\_id is the id of the hacker who made the submission, and score is the score of the submission.

| Column | Type |
| --- | --- |
| submission\_date | Date |
| submission\_id | Integer |
| hacker\_id | Integer |
| score | Integer |

## Solution:

In [ ]:
WITH
CTE_1 AS (

SELECT submission_date
        ,hacker_id
        ,DAY(submission_date) - DENSE_RANK() OVER (PARTITION BY hacker_id ORDER BY submission_date) AS rank
FROM submissions
),

CTE_2 AS (
SELECT submission_date, COUNT(DISTINCT(hacker_id)) AS unique_hackers
FROM CTE_1
WHERE rank = 0
GROUP BY submission_date
),

CTE_3 AS (
SELECT s.submission_date, s.hacker_id, h.name, rank() OVER (PARTITION BY s.submission_date ORDER BY COUNT(s.hacker_id) DESC, s.hacker_id) AS rank_2
FROM submissions AS s
JOIN hackers AS h ON s.hacker_id = h.hacker_id
GROUP BY s.submission_date, s.hacker_id, h.name
),

CTE_4 AS (
SELECT submission_date, hacker_id, name
FROM CTE_3
WHERE rank_2 = 1
)

SELECT CTE_2.submission_date, CTE_2.unique_hackers, CTE_4.hacker_id, CTE_4.name
FROM CTE_2
JOIN CTE_4 ON CTE_2.submission_date = CTE_4.submission_date