# Challenges
[Problem Link on Hackerrank](https://www.hackerrank.com/challenges/challenges/problem)

Julia asked her students to create some coding challenges. Write a query to print the hacker\_id, name, and the total number of challenges created by each student. Sort your results by the total number of challenges in descending order. If more than one student created the same number of challenges, then sort the result by hacker\_id. If more than one student created the same number of challenges and the count is less than the maximum number of challenges created, then exclude those students from the result.

Input Format

The following tables contain challenge data:

Hackers: The hacker\_id is the id of the hacker, and name is the name of the hacker.

| Column | Type |
| --- | --- |
| hacker\_id | Integer |
| name | String |

Challenges: The challenge\_id is the id of the challenge, and hacker\_id is the id of the student who created the challenge.

| Column | Type |
| --- | --- |
| Challenge\_id | Integer |
| hacker\_id | Integer |

## Solution:

In [ ]:
SELECT c.hacker_id, h.name, count(c.hacker_id) AS ch_count
FROM hackers h
INNER JOIN challenges c
    ON h.hacker_id = c.hacker_id
GROUP BY h.hacker_id
    , h.name
HAVING ch_count = (
        SELECT max(temp1.cnt)
        FROM (
            SELECT count(hacker_id) AS cnt
            FROM challenges
            GROUP BY hacker_id
            ) temp1
        )
    OR ch_count IN (
        SELECT t.cnt
        FROM (
            SELECT count(*) AS cnt
            FROM challenges
            GROUP BY hacker_id
            ) t
        GROUP BY t.cnt
        HAVING count(t.cnt) = 1
        )
ORDER BY ch_count DESC, h.hacker_id