# Contest Leaderboard

[Problem Link on Hackerrank](https://www.hackerrank.com/challenges/contest-leaderboard/problem)  

You did such a great job helping Julia with her last coding contest challenge that she wants you to work on this one, too!

The total score of a hacker is the sum of their maximum scores for all of the challenges. Write a query to print the hacker\_id, name, and total score of the hackers ordered by the descending score. If more than one hacker achieved the same total score, then sort the result by ascending hacker\_id. Exclude all hackers with a total score of 0 from your result.

Input Format

The following tables hold contest data:

Hackers: The hacker\_id is the id of the hacker, and name is the name of the hacker.

| Column | Type |
| --- | --- |
| hacker\_id | Integer |
| name | String |

Submissions: The submission\_date is the date of the submission, submission\_id is the id of the submission, hacker\_id is the id of the hacker who made the submission, and score is the score of the submission.

| Column | Type |
| --- | --- |
| submission\_date | Date |
| submission\_id | Integer |
| hacker\_id | Integer |
| score | Integer |

In [ ]:
SELECT t.hacker_id, h.name, sum(t.max_score) AS sum_score
FROM (
    SELECT s.hacker_id, s.challenge_id cid, max(s.score) AS max_score
    FROM submissions s
    GROUP BY s.hacker_id, s.challenge_id
    ) t
JOIN hackers h
    ON t.hacker_id = h.hacker_id
GROUP BY t.hacker_id, h.name
HAVING sum_score > 0
ORDER BY sum_score DESC, t.hacker_id