# Occupations

[Problem Link on Hackerrank](https://www.hackerrank.com/challenges/occupations/problem)

Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

Note: Print NULL when there are no more names corresponding to an occupation.

Input Format

The OCCUPATIONS table is described as follows:

| Column | Type |
| --- | --- |
| name | String |
| occupation | String |

Occupation will only contain one of the following values: Doctor, Professor, Singer or Actor.

## Solution:

In [ ]:
SET @r1 = 0, @r2 = 0, @r3 = 0, @r4 = 0;

SELECT min(Doctor), min(Professor), min(Singer), min(Actor)
FROM (
    SELECT CASE 
            WHEN occupation = 'Doctor' THEN (@r1: = @r1 + 1)
            WHEN occupation = 'Professor' THEN (@r2: = @r2 + 1)
            WHEN occupation = 'Singer' THEN (@r3: = @r3 + 1)
            WHEN occupation = 'Actor' THEN (@r4: = @r4 + 1)
            END AS RowNumber
        , CASE 
            WHEN occupation = 'Doctor' THEN name
            END AS Doctor
        , CASE 
            WHEN occupation = 'Professor' THEN name
            END Professor
        , CASE 
            WHEN occupation = 'Singer' THEN name
            END AS Singer
        , CASE 
            WHEN occupation = 'Actor' THEN name
            END AS Actor
    FROM occupations
    ORDER BY name
    ) AS TEMP
GROUP BY RowNumber;