# Placements

[Problem Link on Hackerrank](https://www.hackerrank.com/challenges/placements/problem)

You are given three tables: Students, Friends and Packages. Students contains two columns: ID and Name. Friends contains two columns: ID and Friend_ID (ID of the ONLY best friend). Packages contains two columns: ID and Salary (offered salary in $ thousands per month).

Students:

| Column | Type |
| --- | --- |
| id | Integer |
| name | String |

Friends:

| Column | Type |
| --- | --- |
| id | Integer |
| friend_id | Integer |

Packages:

| Column | Type |
| --- | --- |
| id | Integer |
| salary | float |



Write a query to output the names of those students whose best friends got offered a higher salary than them. Names must be ordered by the salary amount offered to the best friends. It is guaranteed that no two students got same salary offer.

In [ ]:
SELECT s.name
FROM students s
JOIN packages p
    ON s.id = p.id
JOIN (
    SELECT f.id, f.friend_id, p.salary
    FROM friends f
    JOIN packages p
        ON f.friend_id = p.id
    ) TEMP
    ON s.id = TEMP.id
WHERE TEMP.salary > p.salary
ORDER BY TEMP.salary