# Top Competitors

[Problem Link on Hackerrank](https://www.hackerrank.com/challenges/full-score/problem)

Julia just finished conducting a coding contest, and she needs your help assembling the leaderboard! Write a query to print the respective hacker_id and name of hackers who achieved full scores for more than one challenge. Order your output in descending order by the total number of challenges in which the hacker earned a full score. If more than one hacker received full scores in same number of challenges, then sort them by ascending hacker_id.

Input Format

The following tables contain contest data:

Hackers: The hacker_id is the id of the hacker, and name is the name of the hacker.

| Column | Type |
| --- | --- |
| hacker\_id | Integer |
| name | String |

Difficulty: The difficult_level is the level of difficulty of the challenge, and score is the score of the challenge for the difficulty level.

| Column | Type |
| --- | --- |
| difficulty_level | Integer |
| score | Integer |

Challenges: The challenge_id is the id of the challenge, the hacker_id is the id of the hacker who created the challenge, and difficulty_level is the level of difficulty of the challenge.

| Column | Type |
| --- | --- |
| Challenge\_id | Integer |
| hacker\_id | Integer |
| difficulty_level | Integer |

Submissions: The submission_id is the id of the submission, hacker_id is the id of the hacker who made the submission, challenge_id is the id of the challenge that the submission belongs to, and score is the score of the submission.

| Column | Type |
| --- | --- |
| submission\_date | Integer |
| hacker\_id | Integer |
| Challenge\_id | Integer |
| score | Integer |

In [ ]:
SELECT temp2.id2, temp2.n2
FROM (
    SELECT TEMP.id AS id2, TEMP.n AS n2, count(*) AS a
    FROM (
        SELECT h.hacker_id AS id, h.name AS n, d.score AS ds, s.score AS ss
        FROM hackers h
        JOIN submissions s
            ON h.hacker_id = s.hacker_id
        JOIN challenges c
            ON c.challenge_id = s.challenge_id
        JOIN difficulty d
            ON c.difficulty_level = d.difficulty_level
        HAVING ds - ss = 0
        ) TEMP
    GROUP BY 1, 2
    ORDER BY count(*) DESC, TEMP.id ASC
    ) temp2
WHERE temp2.a > 1